fieldset {
  border: none;
  padding: 0 0 10px 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  padding-top: 0;
  margin-top: 0;
}

h3 {
  margin-bottom: 5px;
  margin-top: 10px;
}

p {
  margin: 0;
  padding: 0;
}

header {
  padding-bottom: 20px;
}

button {
  cursor: pointer;
}

#search {
  padding-bottom: 10px;
}

#contact-form {
  display: none;
  padding-bottom: 20px;
}

.contact {
  display: inline-block;
  width: 300px;
  border: 1px solid #dadada;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 4px;
}

.contact .tags li {
  display: inline-block;
  border: 1px solid #dadada;
  border-radius: 4px;
  padding: 3px 8px;
  cursor: pointer;
  text-transform: capitalize;
}
